.header {
    padding: 1rem 0 3rem;

    .title {
        color: #000;
        font-size: 3rem;
        text-decoration: none;
    }

    .nav-list {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;

        a {
            color: #999;
            font-size: 0.9rem;
            text-decoration: none;

            &:hover {
                color: #666;
            }

            &.active-list-item {
                color: #222;
            }
        }
    }
}
